<header class="header">
  <mat-toolbar color="primary" class="header__toolbar">
    <div class="header__logo">
      <mat-icon class="header__logo-icon"
        ><span class="material-symbols-outlined"> food_bank </span></mat-icon
      >
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">About</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Services</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__profile">
      <a href="#" class="header__profile-link">
        <mat-icon class="header__profile-icon">account_circle</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</header>
