<!--<mat-card class="restaurant-card">
  <mat-card-header>
    <mat-card-title class="restaurant-card__title">{{
      restaurant.name
    }}</mat-card-title>
    <mat-card-subtitle>
      @for (type of restaurant.type; track $index) {
        <div class="restaurant-card__type">{{ type }}</div>
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <img class="img-float" src="{{ restaurant.photos[0] }}" />
      {{ restaurant.description }}
    </p>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>-->

<mat-card class="container">
  <div class="rectangle-68">
    <img class="img-float" src="{{ restaurant.photos[0] }}" />
  </div>
  <div class="container-4">
    <div class="steak-house">{{ restaurant.name }}</div>

    @for (type of restaurant.type; track $index) {
      <div class="restaurant-card__type">{{ type }}</div>
    }
    <span class="lorem-ipsum-sit-dolor-amet">
      {{ restaurant.description }}
    </span>
  </div>
</mat-card>
