<div class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="menu">
          <ul class="menu-list">
            <li class="menu-head">Contacts</li>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              28 Rue Notre Dame des Champs <br />France, 75006 Paris
            </li>
            <li><i class="fa-solid fa-phone-volume"></i> +33 752 666 777</li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              orders@munchies.fr
            </li>
          </ul>

          <ul class="menu-list">
            <li class="menu-head">Hot menu</li>
            <li>King Whopper</li>
            <li>Original Recipe Chicken</li>
            <li>Cheeseburger</li>
            <li>Happy Meal</li>
            <li>Pepperoni Pizza</li>
          </ul>

          <ul class="menu-list">
            <li class="menu-head">Opening Hours</li>
            <li>Monday: 09:00am - 10:00pm</li>
            <li>Tuesday: 09:00am - 10:00pm</li>
            <li>Wednesday: 09:00am - 10:00pm</li>
            <li>Thusday: 09:00am - 10:00pm</li>
            <li>Friday: 09:00am - 10:00pm</li>
            <li>Saturday: <span class="warning">Closed</span></li>
            <li>Sunday: <span class="warning">Closed</span></li>
          </ul>
        </ul>
      </div>

      <hr />

      <div class="socials">
        <ul>
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <i class="fa-brands fa-square-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fa-brands fa-square-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
